body {
  color: white;
  background-size: contain;
  background: url(../assets/img/bg.jpg);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #3988FF;
}
.header .nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  right: -100%;
  top: 0;
  z-index: 10000000;
}
.header .nav .nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 90%;
  background-color: rgba(57, 136, 255, 0.9);
}
.header .nav .nav-main > li {
  width: 90%;
  padding: 12px 0;
  text-align: center;
  position: relative;
}
.header .nav .nav-main > li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white 50%, rgba(0, 0, 0, 0) 100%);
}
.header .logo-main {
  position: relative;
  height: 32px;
}
.header .hamburger-menu-button {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  height: 20px;
  width: 20px;
}
.header .hamburger-menu-button .hamburger-dash {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background-color: white;
}
.header .hamburger-menu-button .hamburger-dash::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background-color: white;
}
.header .hamburger-menu-button .hamburger-dash::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background-color: white;
}

.section-title {
  position: relative;
  font-family: Impact, sans-serif;
  background: rgba(57, 136, 255, 0.22);
  width: 75%;
  padding: 8px;
  text-align: right;
  border: 2px solid #3988FF;
  box-shadow: 0 0 10px 1px #3988FF;
  margin: 25px auto 25px -3px;
}
.section-title.align-right {
  margin: 25px -3px 25px auto;
  text-align: left;
}

.table-header-pic {
  width: 75%;
  min-height: 200px;
  background-color: black;
  margin: 25px -3px 50px auto;
  border: 2px solid #3988FF;
  box-shadow: 0 0 5px 5px #3988FF;
}

.picture {
  width: 60%;
  min-height: 300px;
  background-color: black;
  margin: 25px auto 25px auto;
  box-shadow: 0 0 1.95px 1.95px #3988FF;
}
.picture.square-photo {
  width: 80%;
  min-height: 250px;
}

.inset {
  width: 100%;
  padding: 20px;
  background-color: rgba(57, 136, 255, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 25px 0;
  position: relative;
}
.inset:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(57, 136, 255, 0.25) 0%, #3988ff 50%, rgba(57, 136, 255, 0.25) 100%);
  top: 0;
}
.inset:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(57, 136, 255, 0.25) 0%, #3988ff 50%, rgba(57, 136, 255, 0.25) 100%);
  bottom: 0;
}
.inset h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-right: 10px;
}
.inset p {
  font-size: 9px;
  line-height: 15px;
}

.gallery {
  min-height: 500px;
  width: 80%;
  margin: 25px auto 25px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}
.gallery .cel-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.gallery .gallery_picture {
  background-color: #3988FF;
}

/*# sourceMappingURL=style.css.map */
