@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 1366px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1600px) {
    @content;
  }
}

$mainBlue: #3988ff;
$mainBlue25: rgba(57, 136, 255, 0.25);
$mainBlue50: rgba(57, 136, 255, 0.5);
$mainBlue90: rgba(57, 136, 255, 0.9);
$menuBlue: #234986;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: white;
  background: url(../assets/img/bg2.jpg) no-repeat fixed center 0;
  //background-size: contain;
  background-size: auto calc(100vh + 600px);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  max-width: 100vw;
}

p {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.5;
  @include tablet-portrait {
    font-size: 16px;
  }
  &::selection {
    color: #3988ff;
  }
}

.scroll-top-btn {
  display: block;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  bottom: -20vw;
  right: 5vw;
  opacity: 0;
  transform: rotate(90deg);
  padding: 12px;
  background-color: $mainBlue50;
  transition: 0.3s ease;
  transition-property: background-color, opacity, bottom;

  &.active {
    opacity: 1;
    bottom: 15vw;
  }

  &:hover {
    background-color: $mainBlue;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  visibility: visible;
  background-color: $menuBlue;

  &.hide {
    visibility: hidden;
  }

  @include tablet-landscape {
    &.hide {
      visibility: visible;
    }
  }

  .header-background {
    display: none;
  }

  .nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    right: -100%;
    top: 0;
    z-index: 100;
    transition: right 0.3s ease;
    padding: 0;
    margin: 0;

    .nav-main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 90%;
      background-color: $mainBlue90;

      & > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        background-color: transparent;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
        .nav-main-link {
          display: grid;
          place-items: center;
          position: relative;
          font-size: 12px;
          text-decoration: none;
          color: white;
          padding: 20px;
          &:hover::after {
            content: '';
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 10px);
            height: 1px;
            background-color: white;
            width: 0;
            animation: link-hover 0.5s ease both;
          }
          @keyframes link-hover {
            0% {
              width: 0;
            }
            100% {
              width: calc(100% - 30px);
            }
          }
        }
      }
      & > li:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
    &.active {
      right: 0;
      position: fixed;
      .nav-main {
        li {
          padding: 8px 0;
          .nav-main-link {
            font-size: 20px;
            width: 100%;
            &:hover::after {
              content: initial;
            }
          }
        }
      }
    }
  }

  .logo-main {
    position: relative;
    height: 32px;
  }

  .hamburger-menu-button {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 10px;
    padding: 0;
    border: none;
    margin-right: auto;
    background: none;
    outline: none;
    height: 20px;
    width: 20px;
    z-index: 101;
    .hamburger-dash {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 2px;
      width: 100%;
      border-radius: 1px;
      background-color: white;
      transition: .3s ease;
      transition-property: opacity, top, left, transform;
      &::before {
        content: '';
        opacity: 1;
        position: absolute;
        top: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        background-color: white;
        transition: 0.3s ease;
        transition-property: opacity, top, left, transform;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        background-color: white;
        transition: 0.3s ease;
        transition-property: opacity, top, left, transform;
      }
    }
    &.active {
      .hamburger-dash {
        transform: rotate(-45deg) translate(-1px, -1px);
        &::before {
          opacity: 0;
          transform: rotate(45deg) translateX(20px);
        }
        &::after {
          transform: rotate(90deg) translate(-4px, 0px);
        }
      }
    }
  }
  @include tablet-landscape {
    background: transparent;
    padding: 0;
    .header-background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 240px;
      clip-path: polygon(
        100% 0,
        100% 50px,
        220px 50px,
        0 240px,
        0 170px,
        200px 0
      );
      background-color: $menuBlue;
      transition: clip-path .2s;
      &.scroll {
        clip-path: polygon(100% 0, 100% 50px, 220px 50px, 0 50px, 0 0, 200px 0);
      }
    }
    .hamburger-menu-button {
      display: none;
    }
    .logo-main {
      position: absolute;
      height: 80px;
      top: 60px;
      left: 40px;
      transition: .2s ease;
      &.scroll {
        height: 40px;
        top: 5px;
        left: 30px;
      }
    }
    .nav {
      position: relative;
      height: 50px;
      width: 100%;
      background-color: transparent;
      right: 0;
      top: 0;
      z-index: 100;
      transition: right 0.3s ease;
      .nav-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        padding-left: 250px;
        padding-right: 50px;
        & > li {
          font-size: 14px;
          width: auto;
          padding: 0;
          text-align: center;
          position: relative;
        }
        & > li:not(:last-child)::after {
          content: '';
          position: relative;
          bottom: 0;
          left: 0;
          width: initial;
          height: initial;
          background: none;
        }
      }
    }
  }
  @include laptop {
    .header-background {
      height: 300px;
      clip-path: polygon(
        100% 0,
        100% 50px,
        300px 50px,
        0 300px,
        0 230px,
        270px 0
      );
    }
    .logo-main {
      height: 100px;
      top: 80px;
      left: 60px;
      &.scroll {
        height: 40px;
        top: 5px;
        left: 100px;
      }
    }
    .nav {
      .nav-main {
        padding-left: 350px;
        li {
          .nav-main-link {
            padding: 20px 35px;
          }
        }
      }
    }
    @keyframes link-hover {
      0% {
        width: 0;
      }
      100% {
        width: calc(100% - 70px);
      }
    }
  }
  @include desktop {
    .header-background {
      height: 400px;
      clip-path: polygon(
        100% 0,
        100% 60px,
        400px 60px,
        0 400px,
        0 310px,
        360px 0
      );
      &.scroll {
        clip-path: polygon(100% 0, 100% 60px, 220px 60px, 0 60px, 0 0, 200px 0);
      }
    }
    .logo-main {
      height: 120px;
      top: 100px;
      left: 80px;
      &.scroll {
        height: 50px;
        top: 5px;
        left: 120px;
      }
    }
    .nav {
      height: 60px;
      .nav-main {
        padding-left: 350px;
        li {
          .nav-main-link {
            padding: 20px 35px;
          }
        }
      }
    }
  }
}

.section-title {
  position: relative;
  font-family: Impact, sans-serif;
  background: $mainBlue25;
  min-width: 70%;
  padding: 10px;
  text-align: right;
  border: 1px solid $mainBlue;
  box-shadow: 0 0 5px 1px $mainBlue;
  margin: 25px auto 25px -3px;
  text-transform: uppercase;
  &.align-right {
    margin: 25px -3px 25px auto;
    text-align: left;
  }
  @include tablet-portrait {
    min-width: 60%;
    font-size: 22px;
    padding: 12px;
  }
  @include tablet-landscape {
    font-size: 28px;
    padding: 16px;
  }
  @include laptop {
    font-size: 34px;
    padding: 20px;
  }
  @include laptop {
    font-size: 34px;
    padding: 20px;
  }
}

.img {
  background-color: black;
  box-shadow: 0 0 2px 2px $mainBlue;
  border: 1px solid $mainBlue;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 70px;
  .main-text {
    text-align: center;
    margin: 25px 0;
    width: 90%;
  }
  .main-img {
    align-self: flex-end;
    width: 300px;
    height: 250px;
    margin-right: -2px;
  }
  @include tablet-portrait {
    .main-img {
      width: 500px;
      height: 400px;
    }
  }
  @include tablet-landscape {
    margin-top: 100px;
    flex-direction: row;
    justify-content: flex-end;
    .main-text {
      text-align: left;
      margin: 25px 20px 25px 100px;
      width: 45%;
    }
    .main-img {
      width: 500px;
      height: 350px;
    }
  }
  @include laptop {
    .main-text {
      font-size: 20px;
      margin: 25px 20px 25px 100px;
      width: 45%;
    }
    .main-img {
      width: 700px;
      height: 600px;
    }
    @include desktop {
      .main-text {
        font-size: 24px;
      }
      .main-img {
        width: 800px;
        height: 700px;
      }
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-img {
      width: 300px;
      height: 400px;
    }
    .about-text {
      margin: 25px 0;
      text-align: center;
      width: 90%;
    }
  }
  @include tablet-portrait {
    .about-content {
      .about-img {
        width: 500px;
        height: 600px;
      }
    }
  }
  @include tablet-landscape {
    .about-content {
      margin: 50px 0;
      width: 80%;
      flex-direction: row;
      justify-content: center;
      .about-img {
        width: 350px;
        height: 400px;
      }
      .about-text {
        text-align: right;
        padding: 40px;
        font-size: 13px;
      }
    }
  }
  @include laptop {
    .about-content {
      .about-img {
        width: 500px;
        height: 600px;
      }
      .about-text {
        font-size: 18px;
      }
    }
  }
  @include desktop {
    .about-content {
      .about-text {
        font-size: 20px;
      }
    }
  }
}

.banner-stripe {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  background-color: $mainBlue25;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(57, 136, 255, 0.25) 0%,
      rgba(57, 136, 255, 1) 50%,
      rgba(57, 136, 255, 0.25) 100%
    );
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  .banner-stripe-heading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  .banner-stripe-text {
    font-size: 11px;
    line-height: 15px;
    margin-left: 15px;
  }
  @include tablet-portrait {
    padding: 40px;
    .banner-stripe-heading {
      font-size: 40px;
    }
    .banner-stripe-text {
      font-size: 14px;
      line-height: 20px;
      margin-left: 20px;
    }
    &::before,
    &::after {
      height: 2px;
    }
  }
  @include tablet-landscape {
    padding: 50px;
    .banner-stripe-heading {
      font-size: 50px;
    }
    .banner-stripe-text {
      font-size: 18px;
      line-height: 20px;
      margin-left: 20px;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  .gallery-content {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(4, 40vw);
    grid-gap: 20px;
    @include tablet-portrait {
      margin: 40px 0;
      grid-template-columns: repeat(3, 25vw);
      grid-template-rows: repeat(3, 25vw);
    }
    @include laptop {
      margin: 40px 0;
      grid-template-columns: repeat(3, 20vw);
      grid-template-rows: repeat(3, 20vw);
    }
    @include desktop {
      margin: 40px 0;
      grid-template-columns: repeat(3, 15vw);
      grid-template-rows: repeat(3, 15vw);
    }

    .gallery-img:first-child {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    .gallery-img:last-child {
      display: none;
      @include tablet-portrait {
        display: block;
      }
    }
    .gallery-img {
      background-color: #3988ff;
    }
  }
}

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  .highlights-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    @include tablet-landscape {
      margin-top: 40px;
    }
    .highlights-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      @include tablet-landscape {
        flex-direction: row-reverse;
        margin-left: -150px;
        &:not(:first-child) {
          margin-top: -80px;
        }
      }
      .hexagon-wrapper {
        filter: drop-shadow(0 0 5px rgba(57, 136, 255, 1))
          drop-shadow(0 0 8px rgba(57, 136, 255, 1));
        .hexagon {
          margin: 10px auto;
          width: 80vw;
          height: 80vw;
          background-color: black;
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          @include tablet-portrait {
            width: 50vw;
            height: 50vw;
          }
          @include tablet-landscape {
            width: 35vw;
            height: 35vw;
          }
          @include laptop {
            width: 30vw;
            height: 30vw;
          }
          @include desktop {
            width: 25vw;
            height: 25vw;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .highlight-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        .dot-divider {
          width: 80%;
        }
        @include tablet-landscape {
          width: 400px;
          margin: 0 30px;
        }
        .highlights-subtitle {
          font-size: 16px;
          font-weight: bold;
          color: $mainBlue;
          margin: 20px auto 0 auto;
          text-align: center;
          @include tablet-portrait {
            font-size: 22px;
          }
          @include tablet-landscape {
            font-size: 18px;
          }
          @include desktop {
            font-size: 24px;
          }
        }
        .highlights-text {
          font-size: 12px;
          text-align: center;
          @include tablet-portrait {
            font-size: 18px;
          }
          @include tablet-landscape {
            font-size: 12px;
          }
          @include laptop {
            font-size: 16px;
          }
        }
      }
      &.highlights-element-right {
        .highlight-description {
          display: flex;
          flex-direction: column;
          align-items: center;
          .dot-divider {
            background: linear-gradient(
              to right,
              rgba(57, 136, 255, 0) 0%,
              rgba(57, 136, 255, 1) 50%,
              rgba(57, 136, 255, 1) 100%
            );
            &::after {
              content: '';
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: $mainBlue;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              box-shadow: 0 0 8px 3px rgba(57, 136, 255, 1),
                0 0 12px 2px rgba(57, 136, 255, 1);
            }
            &::before {
              display: none;
            }
          }
        }
        @include tablet-landscape {
          flex-direction: row;
          margin-left: 150px;
        }
      }
    }
    @include tablet-portrait {
    }
  }
}

.tablechoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tablechoice-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    @include tablet-portrait {
      width: 90%;
      flex-direction: row;
      justify-content: center;
    }
    .tablechoice-img {
      width: 300px;
      height: 300px;
      @include laptop {
        width: 400px;
        height: 400px;
      }
      @include desktop {
        width: 500px;
        height: 500px;
      }
    }
    .tablechoice-text {
      margin: 25px 0;
      text-align: justify;
      width: 90%;
      @include tablet-portrait {
        display: block;
        width: 50%;
        margin: 0 0 0 30px;
      }
      @include laptop {
        margin: 0 0 0 50px;
        font-size: 18px;
      }
      @include desktop {
        margin: 0 0 0 50px;
        font-size: 22px;
      }
    }
  }
}

.summary {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  margin: 60px 15px;
  line-height: 1.8;
  color: #ccc;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  @include tablet-portrait {
    font-size: 1.3em;
  }
  @include laptop {
    margin: 60px 35px;
    font-size: 1.5em;
  }
  @include desktop {
    margin: 60px;
  }
}

.dot-divider {
  width: 200px;
  height: 2px;
  background: $mainBlue;
  background: linear-gradient(
    to left,
    rgba(57, 136, 255, 0) 0%,
    rgba(57, 136, 255, 1) 50%,
    rgba(57, 136, 255, 1) 100%
  );
  margin: 30px 0;
  position: relative;
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $mainBlue;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 8px 3px rgba(57, 136, 255, 1),
      0 0 12px 2px rgba(57, 136, 255, 1);
  }
  @include tablet-portrait {
    width: 60%;
  }
}

.collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  .collections-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .collections-collection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      @include tablet-portrait {
        flex-direction: row-reverse;
        flex: 1 1 50%;
      }
      .collection-img {
        width: 300px;
        height: 300px;
        margin: 25px 0 0 0;
        @include laptop {
          width: 400px;
          height: 400px;
        }
        @include desktop {
          width: 500px;
          height: 500px;
        }
      }
      .collection-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .collections-subtitle {
          text-align: right;
          font-size: 22px;
          font-weight: bold;
          color: $mainBlue;
          margin: 20px auto 0 auto;
          @include laptop {
            font-size: 25px;
          }
          @include desktop {
            font-size: 30px;
          }
        }
        .collection-description {
          text-align: center;
          font-size: 12px;
          margin-bottom: 20px;
          @include tablet-portrait {
            text-align: right;
          }
          @include laptop {
            font-size: 16px;
          }
          @include desktop {
            font-size: 20px;
          }
        }
        .dot-divider {
          width: 80%;
          margin: 25px 0;
          @include laptop {
            margin: 35px 0;
          }
          @include desktop {
            margin: 40px 0;
          }
        }
        @include tablet-portrait {
          margin-right: 30px;
          flex: 1 1 50%;
        }
        @include laptop {
          margin-right: 40px;
        }
        @include desktop {
          margin-right: 50px;
        }
      }
      &.collections-collection-right {
        @include tablet-portrait {
          flex-direction: row;
        }
        .collection-box {
          @include tablet-portrait {
            margin-left: 30px;
            .collection-description {
              text-align: left;
            }
          }
          @include laptop {
            margin-left: 40px;
          }
          @include desktop {
            margin-left: 50px;
          }
          .dot-divider {
            background: linear-gradient(
              to right,
              rgba(57, 136, 255, 0) 0%,
              rgba(57, 136, 255, 1) 50%,
              rgba(57, 136, 255, 1) 100%
            );
            &::after {
              content: '';
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: $mainBlue;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              box-shadow: 0 0 8px 3px rgba(57, 136, 255, 1),
                0 0 12px 2px rgba(57, 136, 255, 1);
            }
            &::before {
              display: none;
            }
          }
        }
      }
    }
    @include laptop {
      width: 1000px;
    }
    @include desktop {
      width: 1200px;
    }
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    @include laptop {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 1000px;
    }
    @include desktop {
      width: 1200px;
    }
    .faq-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;
      .faq-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        &:not(:first-child) {
          margin-top: 20px;
        }
        .faq-question {
          font-weight: 600;
          line-height: 2;
          color: $mainBlue;
        }
        .faq-answer {
          align-self: flex-end;
          width: 90%;
          text-align: justify;
        }
        @include laptop {
          .faq-question {
            font-size: 1.2rem;
          }
          .faq-answer {
            font-size: 1rem;
          }
        }
        @include desktop {
          .faq-question {
            font-size: 1.4rem;
          }
          .faq-answer {
            font-size: 1.1rem;
          }
        }
      }
    }
    .faq-decorator-box {
      display: none;
      margin-left: 50px;
      @include laptop {
        display: block;
      }
      .faq-decoration {
        width: 300px;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: $mainBlue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  .footer-copyrights {
    font-size: 12px;
  }
  .footer-by {
    font-size: 9px;
  }
  @include tablet-landscape {
    padding: 20px;
    .footer-copyrights {
      font-size: 15px;
    }
    .footer-by {
      font-size: 12px;
    }
  }
  @include laptop {
    .footer-copyrights {
      font-size: 17px;
    }
    .footer-by {
      font-size: 14px;
    }
  }
}

.contact {
  padding: 30px;
  background-color: #1d4e9a;
}

@keyframes slide-menu-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
