@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 1366px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1600px) {
    @content;
  }
}

$mainBlue: #3988FF;
$mainBlue25: rgba(57, 136, 255, 0.22);
$mainBlue90: rgba(57, 136, 255, 0.9);


body {
  color: white;
  background-size: contain;
  background: url(../assets/img/bg.jpg);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

p {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.5;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: $mainBlue;

  .nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    right: -100%;
    top: 0;
    z-index: 100;
    transition: right .3s ease;
    &.active {
      right: 0;
    }

    .nav-main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 90%;
      background-color: $mainBlue90;

      & > li {
        width: 90%;
        padding: 12px 0;
        text-align: center;
        position: relative;
      }
      & > li:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }

  .logo-main {
    position: relative;
    height: 32px;
  }

  .hamburger-menu-button {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    height: 20px;
    width: 20px;
    z-index: 101;
    .hamburger-dash {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 2px;
      width: 100%;
      border-radius: 1px;
      background-color: white;
      &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        background-color: white;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        background-color: white;
      }
    }
  }
}

.section-title {
  position: relative;
  font-family: Impact, sans-serif;
  background: $mainBlue25;
  width: 75%;
  padding: 8px;
  text-align: right;
  border: 1px solid $mainBlue;
  box-shadow: 0 0 5px 1px $mainBlue;
  margin: 25px auto 25px -3px;
  &.align-right {
    margin: 25px -3px 25px auto;
    text-align: left;
  }
}

.img {
  background-color: black;
  box-shadow: 0 0 2px 2px $mainBlue;
  border: 1px solid $mainBlue;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 30px;
  .main-text {
    text-align: center;
    margin: 25px 0;
    width: 90%;
  }
  .main-img {
    align-self: flex-end;
    width: 300px;
    height: 250px;
    margin-right: -2px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  .about-img {
    width: 300px;
    height: 400px;
  }
  .about-text {
    margin: 25px 0;
    text-align: center;
    width: 90%;
  }
}

.tablechoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tablechoice-img {
    width: 300px;
    height: 300px;
  }
  .tablechoice-text {
    margin: 25px 0;
    text-align: justify;
    width: 90%;
  }
}

.banner-stripe {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  background-color: $mainBlue25;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(57, 136, 255, 0.25) 0%, rgba(57, 136, 255, 1) 50%, rgba(57, 136, 255, 0.25) 100%);
    top: 0;
  }
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(57, 136, 255, 0.25) 0%, rgba(57, 136, 255, 1) 50%, rgba(57, 136, 255, 0.25) 100%);
    bottom: 0;
  }
  .banner-stripe-heading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  .banner-stripe-text {
    font-size: 11px;
    line-height: 15px;
    margin-left: 15px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  .gallery-content {
    min-height: 500px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    .gallery-img:first-child {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    .gallery-img {
      background-color: #3988FF;
    }
  }
}

.hexagon {
  margin : 10px auto;
  width: 280px;
  height: 300px;
  background-color: black;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon-wrapper {
  filter: drop-shadow(0 0 5px rgba(57, 136, 255, 1))
    drop-shadow(0 0 8px rgba(57, 136, 255, 1));

}

.highlights-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  .highlights-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .highlights-subtitle {
      font-size: 16px;
      font-weight: bold;
      color: $mainBlue;
      margin: 20px auto 0 auto;
    }

    &.highlights-element-right {
      .dot-divider {
        background: linear-gradient(to right, rgba(57, 136, 255, 0) 0%, rgba(57, 136, 255, 1) 100%);

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: $mainBlue;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          box-shadow: 0 0 8px 3px rgba(57, 136, 255, 1), 0 0 12px 2px rgba(57, 136, 255, 1);
        }

        &::before {
          display: none;
        }
      }
    }

    .highlights-text {
      font-size: 12px;
      text-align: center;
    }

  }
}

.summary {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.8;
  }

.dot-divider {
  width: 80%;
  height: 2px;
  background: $mainBlue;
  background: linear-gradient(to left, rgba(57, 136, 255, 0) 0%, rgba(57, 136, 255, 1) 100%);
  margin: 30px 0;
  position: relative;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $mainBlue;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 8px 3px rgba(57, 136, 255, 1), 0 0 12px 2px rgba(57, 136, 255, 1);
  }
}

.collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  .collections-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    .collections-subtitle {
        font-size: 22px;
        font-weight: bold;
        color: $mainBlue;
        margin: 20px auto 0 auto;
    }
    &.collections-collection-right {
          .dot-divider {
            background: linear-gradient(to right, rgba(57, 136, 255, 0) 0%, rgba(57, 136, 255, 1) 100%);

            &::after {
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: $mainBlue;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              box-shadow: 0 0 8px 3px rgba(57, 136, 255, 1), 0 0 12px 2px rgba(57, 136, 255, 1);
            }

            &::before {
              display: none;
            }
          }
         }
    .collection-img {
        width: 300px;
        height: 300px;
        margin: 0 0 25px 0;
    }
    .collection-description {
        text-align: center;
        font-size: 12px;
        margin-bottom: 20px;
    }
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  .faq-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .faq-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:not(:first-child) {
        margin-top: 20px;
      }
      .faq-question {
        font-weight: 600;
        line-height: 2;
        color: $mainBlue;
      }
      .faq-answer {
        align-self: flex-end;
        width: 90%;
        text-align: justify;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 25px;
  background-color: $mainBlue;
  .footer-copyrights {
    font-size: 12px;
  }
  .footer-by {
    font-size: 9px;
  }
}

@keyframes slide-menu-right {
  0% {right: -100%}
  100% {right: 0}
}